# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ojlnrgwi/amapi"
PassengerBaseURI "/api"
PassengerNodejs "/home/ojlnrgwi/nodevenv/amapi/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END